
#novosib-logo {
    width: auto;
    max-width: 60%;
    height: auto;
}
.underlined {
    text-decoration: underline;
}
h1 {
    margin: 5%;
}
h2 {
    font-size: 2em;
    margin-left: 5%;
}

.search-block {
    background-color: #b3b3b3;
    border: 1px solid black;
    padding-right: 5%;
    padding-left: 5%;
}
#search-btn {
    background-color: #b3b3b3;
    border: none;
    color: black;
    padding-left: 0;
}
.indent-btn {
    color: #b3b3b3;
    background-color: white;
    text-decoration: underline;
    border: none;
}
.request {
    border-top: 1px solid black;
}
.btn {
    border-radius: 5px;
}
#btn-all-indents {
    margin-top: 2%;
}
.reviews {
    margin-top: 2%;
}
#user-pic {
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
}
.carousel-inner {
border: 3px solid #b3b3b3;
}
.carousel-control {
    background-image: none !important;
    color: grey;
   font-size: 48px;
}
.carousel-control.right{
    position: absolute;
    right: 10%;
    top: 25px;
}

.carousel-control.left {
    position: absolute;
    left: 10%;
    top: 25px;
}
#add-review-btn {
    display: inline;
}
#contact-header {
    margin-top: 2%;
}
.contact {
    background-color: #b3b3b3;
}
.contact-text {
    padding-left: 5%;
}
.footer-form {
    margin-top: 1%;
}
.footer-btn {
    margin-top: 2%;
}