<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="new_indents">
			<h1 class="text-center">{{indents_title}}</h1>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="dropdown">
						Раздел:
	  					<button class="btn btn-primary dropdown-toggle indent-btn" type="button" data-toggle="dropdown">Все
	  						<span class="caret"></span>
	  					</button>
	  					<ul class="dropdown-menu">
	    					<li><a href="#">Раздел№1</a></li>
	    					<li><a href="#">Раздел№2</a></li>
	    					<li><a href="#">Раздел№3</a></li>
	  					</ul>
					</div> 
				</div>
				<div class="col-xs-12 col-md-6" id="right-dropdown">
					<div class="dropdown">
						Регион:
	  					<button class="btn btn-primary dropdown-toggle indent-btn" type="button" data-toggle="dropdown">Новосибирск и область
	  						<span class="caret"></span>
	  					</button>
	  					<ul class="dropdown-menu">
	    					<li><a href="#">Регион№1</a></li>
	    					<li><a href="#">Регион№2</a></li>
	    					<li><a href="#">Регион№3</a></li>
	  					</ul>
					</div> 
				</div>
			</div>
			{% for indent in range(indents) %}
			<div class="row">
				<div class="request col-md-12">
					 <div class="row">
        				<div class="col-xs-12 col-md-6">
            				<p class="text-muted">вчера, 21.30</p>
        				</div>
        				<div class="col-xs-12 col-md-6" id="right-element">
            				<span class="underlined">&#9733; В закладки</span>
        				</div>
    				</div>
    				<p>60 шт. ПК от 72-15 до ПК 21-15, Криводановка с доставкой</p>
    				<p class="name">Алексей</p>
    				<button type="submit" class="btn btn-default">Показать телефон</button>
    				<span class="text-muted">12 просмотров</span>
				</div>
			</div>
			{% endfor %}
			<div class="row">
				<div class="col-md-4 col-md-offset-5 col-xs-6 col-xs-offset-3" id="btn-all-indents">
					{% if page == "index.html" %}
            			<a href="indents.html" class="btn btn-default">Посмотреть все заявки</a>
        			{% else %}
            			<button class="btn btn-default">Показать еще</button>
					{% endif %}
				</div>
			</div>
		</div>
			
	</div>
</div>