<div class="row">
	<div class="col-md-8 col-md-offset-2 reviews">
		<div id="carousel-example" class="carousel slide" data-ride="carousel">
		    <!-- Wrapper for slides -->
			<div class="row">
		        <div class="col-xs-offset-3 col-xs-6">
		            <div class="carousel-inner">
		                <div class="item active">
		                    <div class="carousel-content">
		                        <div class="row">
		                        	<div class="col-md-2 user-pic">
		                        		<span class="glyphicon glyphicon-user"></span>
		                        	</div>
		                        	<div class="col-md-10 review-text">
		                        		<h3>Кирил, 29 лет, г. Барабинск</h3>
		                            	<p>Все было супер, доставили очень быстро, дешево, лучшый бетон в Новосибе!.</p>
		                        	</div>
		                        </div>
		                    </div>
		                </div>
		                <div class="item">
		                    <div class="carousel-content">
		                    	<div class="row">
		                        	<div class="col-md-2 user-pic">
		                        		<span class="glyphicon glyphicon-user"></span>
		                        	</div>
		                        	<div class="col-md-10 review-text">
		                        		<h3>Кирил, 29 лет, г. Барабинск</h3>
		                            	<p>Все было супер, доставили очень быстро, дешево, лучшый бетон в Новосибе!.</p>
		                        	</div>
		                    	</div>
		                    </div>
		                </div>
		                <div class="item">
		                    <div class="carousel-content">
		                        <div class="row">
		                        	<div class="col-md-2 user-pic">
		                        		<span class="glyphicon glyphicon-user"></span>
		                        	</div>
		                        	<div class="col-md-10 review-text">
		                        		<h3>Кирил, 29 лет, г. Барабинск</h3>
		                            	<p>Все было супер, доставили очень быстро, дешево, лучшый бетон в Новосибе!.</p>
		                        	</div>
		                    	</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- Controls --> <a class="left carousel-control" href="#carousel-example" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		 <a class="right carousel-control" href="#carousel-example" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>

		</div>
		<div class="text-center">
		<button type="submit" class="btn btn-default" id="add-review-btn">Оставить отзыв</button>
		</div>
	</div>
</div>